.loginBox{
    height: 300px;
    width: 100%;
    border: 2px solid black;
    padding: 70px;
}
.loginContainer{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    
}
button{
    width: 200px;
    height: 60px;
    margin-top: 10px;
    background-color: white;
    color: black;

}
h1{
    font-size: 38px;
    font-family: Arial;
    font-weight: bold;
}