<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="navbar-brand">
            <img src="{{FILE_URL}}/logo.png" height="40">
        </div>
    </nav>
    <div class="container">
        <div class="col-12">
            <div class="col-4 loginContainer">
                <h1>Login</h1>
                <div class="loginBox">
                    <button (click)="signInWithGoogle()">Login using Google</button>
                    <button (click)="signInWithFB()">Login using Facebook</button>
                </div>
            </div>
            
        </div>
    </div>
</div>